*
{
    padding: 0;
    margin: 0;
}

header
{
    padding: 20px;
    background-color: #1f2937;
    color: white;
}

label
{
    margin-bottom: 0.4em;
}

.small-font, label
{
    font-size: 0.9em;
}

button
{
    cursor: pointer;
}

ul li
{
    list-style: none;
}

nav ul li a
{
    display: block;
    color: black;
    text-decoration: none;
    padding: 20px;
    padding-left: 40px;

}

nav ul li:last-of-type
{
    border-top: 1px solid #ddd;
}

.app header
{
    grid-column: 1 / -1;
}

.app nav
{
    grid-column: 1 / 2;
}

.app main
{
    grid-column: 2 / 3;
}

.app footer
{
    grid-column: 1 / -1;
    padding-top: 30px;
    padding-bottom: 30px;
}

.login main
{
    background-color: white;
}

main
{
    background-color: #eee;
    padding: 50px;
    box-sizing: border-box;
}

footer
{
    border-top: 1px solid #eee;
    padding-top: 30px;
    text-align: center;
}

html
{
    font-family: sans-serif;
}

input, select, button
{
    padding: 6px;
}

body.app
{
  margin: 0;
  display: grid;

  grid-template-columns: 18% 82%;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;
}

.login h1
{
    text-align: center;
    margin-top: 100px;
}

.login form
{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    padding: 75px;
}

.login form input
{
    width: 200px;
}

.login form label:first-of-type
{
    margin-top: 0;
}

.login form label
{
    margin-top: 1.4em;
}

.login form button
{
    margin-top: 2em;
    width: 212px;
    height: 34px;
}

.box
{
    background-color: white;
    padding: 30px;
    margin-top: 20px;
}

.box h2
{
    font-size: 1.3em;
    padding-bottom: 30px;
}

form, .wrapper
{
    display: flex;
    flex-wrap: wrap;
}

form .form-field, .wrap-item
{
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-top: 2em;
}

form .form-field input, form .form-field select
{
    width: 95%;
    padding-left: 15px;
    box-sizing: border-box;
}

form .form-field.no-margin, .wrap-item.no-margin
{
    margin-top: 0;
}

form .form-field.full
{
    width: 100%;
}

.flex
{
    display: flex;
}

.space-between
{
    justify-content: space-between;
}

.auto-right
{
    margin-left: auto;
}

.auto-left
{
    margin-right: auto;
}

.auto-width
{
    width: auto !important;
}

#add-note
{
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}

#add-note textarea
{
    margin-top: 1em;
    height: 150px;
}

#add-note button
{
    margin-top: 1em;
}

#filter
{
    margin-bottom: 30px;
}

#filter button:first-of-type
{
    margin-left: 22px;
}

#filter button
{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-right: 22px;
}

.note .date
{
    display: block;
    color: #444;
    margin-top: 0.75em;
}

.notes li:first-child
{
    margin-top: 0;
}

.notes li
{
    margin-top: 2em;
}

#error-message
{
    margin-top: 20px;
}

table
{
    border-collapse: collapse; /* ensures clean single borders */
    width: 100%;
    border: 1px solid #eee;
}

table a
{
    text-decoration: none;
}

thead
{
    background-color: #eee;
}

th,td
{
    padding: 8px;
}

th
{
    text-align: left;
}

td
{
    border-bottom: 1px solid #eee;
}

.sales, .support
{
    font-size: 0.8em;
    display: inline-block;
    background-color: #fbd44c;
    padding: 6px;
}

.support
{
    background-color: #5b5df1;
}

.purple
{
    color: #5b5df1;
}

.bold
{
    font-weight: bold;
}